@import './variables/Variables.scss';


.button {
  @include container;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  outline: none;
  padding: 2vw;
  align-items: center;
}

@media screen and (min-width: 700px) {
  .button {
    font-size: 3vw;
    padding: 5px;
  }
}