@import './variables/Variables.scss';

.header {
    color: black;
    display: flex;
    font-size: 10vw;
    justify-content: center;
    margin: 0;
    flex-grow: 5;
    p {
        @include container;
        border-radius: 10px;
        color: #000000;
        margin: 0;
        padding: 1rem;
        float: left;
    }
}

@media screen and (min-width: 700px) {
    .header {
        font-size: 2rem;
    }
}