@import './variables/Variables.scss';

.load-info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.all-items {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.display-title {
    align-items: center;
    display: flex;
    font-size: 4vw;
    justify-content: space-evenly;
    padding-top: 10px;
    width: 95%;
    h1 {
        text-align: center;
    }
}

.display-image {
    border-radius: 5px;
    width: 45vw;
}

.item {
    @include container;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 98%;

    h4 {
        margin: 0;
    }
}

.display-howto {

    display: flex;
    flex-direction: column;
    margin: 0px 10px 10px 10px;
    h2 {
        margin: 0;
    }
}
.display-info {
    font-size: 5vw;

}

.top {
    display: flex;
    flex-direction: column;
}

.basics {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.list {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 4vw;
    margin: 5px;
    width: 95vw;
    p{
        @include container;
        margin: 10px 0px 10px 10px;
        padding: 10px;
        width: fit-content;
    }
}

@media screen and (min-width: 700px) {
    .all-items {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .display-image {
        margin: 20px;
        width: 20vw;
    }
    .display-title {
        flex-direction: column;
        font-size: 1vw;
        width: 40%;
    }
    
    .display-howto {
        font-size: 1.5vw;
        margin: 0;
        width: 90%;
    }

    .top {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .item {
        flex-direction: column;
        justify-content: space-between;
        width: 90vw;
    }

    .list{
        font-size: 1.5vw;
    }

    .basics {
        align-items: center;
        display: flex;
        font-size: 1.5vw;
        margin-top: 20px;
        width: 50%;
    }
}