.load-info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.all-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.display-title {
    padding-top: 10px;
    font-size: 4vw;
    display: flex;
    width: 95%;
    align-items: center;
    justify-content: space-around;
}

.display-image {
    width: 45vw;
    border-radius: 5px;
}

.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    align-items: center;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 98%;
    h4 {
        margin: 0;
    }
}

.display-howto {
    display: flex;

    flex-direction: column;
    margin: 0px 10px 10px 10px;
    h2 {
        margin: 0;
    }
}
.display-info {
    font-size: 5vw;

}

.top {
    display: flex;
    flex-direction: column;
}

.basics {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 5px;
    width: 95vw;
    font-size: 4vw;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0);
    p{
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 10px;
        width: fit-content;
        margin: 10px 0px 10px 10px;
    }
}

@media screen and (min-width: 700px) {
    .all-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
    }
    
    .display-image {
        width: 20vw;
        margin: 20px;
    }
    .display-title {
        width: 40%;
        font-size: 1vw;
        flex-direction: column;
    }
    
    .display-howto {
        font-size: 1.5vw;
        margin: 0;
        width: 90%;
    }

    .top {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .item {
        flex-direction: column;
        justify-content: space-between;
        width: 90vw;
    }

    .list{
        font-size: 1.5vw;
    }

    .basics {
        align-items: center;
        margin-top: 20px;
        display: flex;
        width: 50%;
        font-size: 1.5vw;
    }
}