.main {
    font-size: 6vw;
    margin-top: 2.5rem;
    p {
        display: flex;
        justify-content: center;
        margin: 0;
    }
}

.options {
    align-items: center;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 700px) {
    .main {
        display: flex;
        flex-direction: column;
        font-size: 4vh;
        height: 70vh;
        justify-content: center;
        margin: 0rem 4rem 0rem 4rem;
        p {
            justify-content: flex-start;
            margin-bottom: 2rem;
        }
    }
    .options {
        flex-direction: row;
        justify-content: space-evenly;
    }
}